@model IEnumerable<MvcBooksList.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <form asp-action="Create" method="post">
        <div class="row">

            <div class="form-group">
                <div class="col-auto">


                    <input class="form-control" placeholder="Create new Category" name="categoryName" id="categoryName" />
                </div>
            </div>
            <div class="btn-group">

                <div class="col-auto">
                    <input type="submit" class="btn btn-success" value="Create" />
                </div>
                <div class="col-auto">
                    <input type="reset" class="btn btn-secondary" value="Reset" />
                </div>
            </div>



        </div>
    </form>

</div>

@if (Model != null)
{

    <div class="row">


        @foreach (Category item in Model)
        {
            <div class="col-lg-4">
                <div class="card" style="width: 18rem; height:20rem">

                    <div class="card-body">
                        <h2 class="card-title">@Html.DisplayFor(m => item.CategoryName)</h2>
                    </div>

                    <ul class="list-group list-group-flush">
                        @foreach (SubCategory subCategory in item.SubCategories)
                        {
                            <li class="list-group-item">@Html.DisplayFor(d => subCategory.SubCategoryName)</li>

                        }

                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">View Details</a>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Add SubCategory" aria-label="Username" aria-describedby="basic-addon1">
                            <span class="input-group-text btn-outline-success" id="basic-addon1">Add</span>
                        </div>
                        @*<input class="btn btn-secondary" type="button" value="Add SubCategory" />*@
                    </div>
                </div>
            </div>
        }
    </div>



}

else
{
    <h3>No Categories present</h3>
}

