@model IEnumerable<MvcBooksList.Models.Category>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="css\CategoryIndexPage.css" type="text/css" />

<div class="container">
    <form asp-action="Create" method="post">
        <div class="row">

            <div class="form-group">
                <div class="col-auto">


                    <input class="form-control" placeholder="Create new Category" name="categoryName" id="categoryName" />
                </div>
            </div>
            <div class="btn-group">

                <div class="col-auto">
                    <input type="submit" class="btn btn-success" value="Create" />
                </div>
                <div class="col-auto">
                    <input type="reset" class="btn btn-secondary" value="Reset" />
                </div>
            </div>



        </div>
    </form>

</div>


@if (Model != null)
{

    <div class="row">


        @foreach (Category item in Model)
        {
            <div class="col-lg-4 col-xl-4 col-sm-12 col-md-6">
                <div class="card shadow-sm  mb-5 bg-white rounded" style="width: 100%; ">
                    <a class="text-decoration-none" asp-action="Details" asp-controller="Category" asp-route-categoryName="@item.CategoryName" class="card-link">



                        <h4 class="card-header text-center">@Html.DisplayFor(m => item.CategoryName)</h4>


                        @if (item.SubCategories != null && item.SubCategories.Count > 0)
                        {
                            <div class="card-body align-content-end pre-scrollable hidden-scrollbar" style="height: 10rem;">


                                <ul>


                                    @foreach (SubCategory subCategory in item.SubCategories)
                                    {
                                        <li>
                                            @Html.DisplayFor(d => subCategory.SubCategoryName)

                                        </li>

                                    }
                                </ul>


                            </div>
                        }
                        else
                        {
                            <div class="card-body" style="height: 10rem;">
                                <p>No sub Categories!</p>
                            </div>
                        }
                    </a>



                    <div class="card-footer align-items-center text-justify">
                        @Html.Partial("AddSubCategory", item.CategoryName)

                        @*<input class="btn btn-secondary" type="button" value="Add SubCategory" />*@
                    </div>
                </div>

            </div>
        }
    </div>



}

else
{
    <h3>No Categories present</h3>
}


